@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Playfair+Display:wght@500&family=Tulpen+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Playfair+Display:wght@500&family=Tulpen+One&display=swap');

*{
    margin: 0;  /*The margin and padding 0 to remove the space between the web and actual screen.*/
    padding: 0;
}

.container
{
    display: flex;  /*To separet out the main and sidebar*/
}

.sidebar
{
    background-color: rgb(233, 240, 243);
    background: linear-gradient(#f0eeee ,#9b9a9a,#6d6d6d);
    /* width: 20vw; */
    /* width: 434px; */
    position: absolute;
    font-family: 'Fira Sans',sans-serif;
    font-size: 20px;
    height: 950px;
    transition: transform 0.3s ease-in;
}

body
{
    background-image: url(bg-2.jpg);

}

.infocontainer
{
    /* background-color: rgb(231, 200, 171);  */
    /* color: rgb(94, 55, 19); */
    /* background: linear-gradient(#999,#979696,#9b9a9a,#cce3e6); */
    height: 80vh;
    width: 90vw;
    margin: 80px 65px;
    /* margin: 80px; */
    display: flex;
    justify-content: space-around;    /*To make space around the picture and information and separetout both the contnt which
                                        is present in the container. */
}

.top
{
    width: 1345px;
    height: 80px;
    font-size: 80px;
    /* border: 2p/x solid black; */
    background: linear-gradient(300deg, #555,#999,#9b9a9a,black);
    color: black;
}

.background
{
    width: 1500px;
    border: 2px solid #555;
}

li a{
    text-decoration: none;  /* To remove the Under-lines of links*/
    color: black; 
}

.hello
{
    font-size: 65px;    
}
.name
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans',sans-serif; 
    text-shadow: 5px;
    /* text-shadow:  3px 1px black;     /*use for shadow */
}
.about
{
    font-size: 30px;    
}

.moreabout
{
    font-size: 15px;
    font-family: 'Fira Sans',sans-serif;
    margin-top: 20px;
}

.devpic
{
    background-color: #acaaaa;
    width: 300px;
    height: 343px;
    margin-top: 50px;
    border-radius: 380px;
    box-shadow: 0px 0px 5px 5px #555;    
}


.devpic img
{
    height: 53vh;
}

.devInfo
{
    /* width: 100px; */
    margin-top: -150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro',monospace;
}

.perimg
{
    border-radius: 90px;
}

.moreabout2
{
    margin-top: 5px;
    font-family: sans-serif;
}

.sub
{
    font-family: sans-serif;
    font-size: 12px;
}

.but
{
    display: inline;
}

.but button{
    margin-top: 34px;
    padding: 9px;
    border-radius: 15px;
    /* background-color: rgb(26, 152, 236); */
    color: rgb(48, 47, 47);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#conbtn
{
    margin: 12px 0;
    font-size: 14px;
    padding: 10px 19px;
}

.but button:hover     /*after pointing on the button color is change.*/
{
    background-color: white;
    color: dodgerblue;
}

.sidebar nav li 
{
    list-style-type: none;   /* To remove the dots of list item's. */
    font-weight: bolder;
    padding: 30px ;
}
.sidebar nav
{
    padding: 50px;
}

.main
{
    /* background-color:  rgb(236, 192, 125); */
    width: 90vw;
}
.contactform h1
{
    font-family: 'Source Code Pro';
    margin-top: 40px;
    /* text-align: center; */
}


.form-group
{
    padding: 10px 0;
    display: flex;
    flex-direction: column; 
}

.form-group input
{
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px; 
}

#emailHelp
{
    font-size: 11px;
    font-weight: bold ;
    color: midnightblue;
    margin-left: 5px;
    margin-top: -5px;
    padding-top: 5px;
}

.form-check
{
    display: flex;
    flex-direction: row;
}

.form-check input
{
    width: 24px;
    margin: 3px 0;
}

.blogitem
{
    margin: 20px;
    font-family: sans-serif;
}

.blogcontainer h1
{
    font-family: 'Fira Sans',sans-serif;    
}

.blogitem p
{
    font-family: 'Source Code Pro',monospace;
}

.btn
{
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(26, 152, 236);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover
{
    background-color: white;
    color: dodgerblue;
}

.devInfo h1
{
    margin: 23px;
}

.intro p
{
    margin-left: 20px;
}

.intro h1
{
    margin: 20px;
}

.intro h2
{
    margin: 23px;
}

.Hskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}

.CSSskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}
.Jskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}
.Pskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}
.Cppskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}

.Cskill
{
    width: 200px;
    height: 5px;
    background-color: red;
    border-radius: 50px;
}
.skillcontainer
{
    margin: 23px;
}

.skillitem
{
    display: flex;
    align-items: center;
}

.outer
{
    width: 400px;
    height: 5px;
    border: 0.5px solid black;
    background-color: white;
    border-radius: 120px;
}

.hundred
{
    background-color: green;
    width: 400px;
}

.fifty
{
    background-color: red;
    width: 300px;
}

.sev-five
{
    background-color: violet;
    width: 350px;
}

.eight
{
    background-color: blue;
    width: 380px;
}

.contactform
{
    padding-top: 15px;
    padding-left: 34px;
    padding-right: 34px;
    width: 400px;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    /* border: 0.2px solid black; */
    border-radius: 20px;
    margin-left: 450px;
    height: 650px;
    font-family: 'Fira Sans','sans-serif';
    /* background-color: rgb(233, 240, 243); */
    box-shadow: 0px 0px 5px 5px rgba(3, 45, 53, 0.219);
}

.con
{
    display: flex;
    flex-direction: row;
    /* justify-content: center;  */
    height: 80px;
    width: 380px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: -5px;
    /* border: 0.2px solid black; */
    box-shadow: 0px 0px 5px 5px #b4b4b4 ;
    color: #555;
    text-decoration: none;  /* To remove the Under-lines of links*/
    /* color: black;  */
}

.allcon
{
    /* background-color: #d2f2f3; */
    /* width: 100%; */
    /* height: 100%; */
}
.con h3 a
{
    text-decoration: none;  /* To remove the Under-lines of links*/
    color: black; 
}
.email
{
    margin-top: 27px;
    margin-left: 25px; 
}

.em
{
    margin-left: 20px;
}
.li
{
    margin-left: 30px;
}
.lis
{
    margin-top: 27px;
}
.thirty-five
{
    background-color: blueviolet;
    width: 150px;
}

.hamburger
{
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 20px;
}

.cross
{
    margin-left: 150px;
    margin-top: 10px;
}

.ham
{
    margin-top: 5px;
}
.sidebarGo
{
    transform: translate(-443px,0px);
    position: absolute;
}

.intro
{
    margin: 80px;
}
/* blog container*/

.heading
{
    margin-left: 150px;
    margin-top: 80px;
}

.blogcontainer
{
    margin-top: 30px;
    margin-left: 50px;
    width: 1250px;
    height: 500px;
    /* border: 0.2px solid black; */
}

.head
{
    margin-left: 150px;
    margin-top: 20px;
    color: #555;
}

.proj
{
    margin-left: 150px;
}

.blogitem
{
    border: 2px solid #e0dede;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(196, 197, 197);
    height: 400px;
    width: 330px;
    margin-left: 50px;
    display: flex;
    float: left;
    /* background-color: #cce3e6; */
}

.img1
{
    box-shadow: 0px 0px 5px 5px rgb(197, 204, 204);
    width: 250px;
    height: 200px;
    margin: 30px;
    margin-left: 35px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.img2
{
    box-shadow: 0px 0px 5px 5px rgb(197, 204, 204);
    width: 250px;
    height: 200px;
    margin: 30px;
    margin-left: 35px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.img3
{
    box-shadow: 0px 0px 5px 5px rgb(197, 204, 204);
    width: 250px;
    height: 200px;
    margin: 30px;
    margin-left: 35px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.card-body
{
    margin-top: 20px;
}
.card-body h1
{
    margin-left: 100px;
}

.btn-group
{
    margin-left: 50px;
}

.btn-sm
{
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: black;
    box-shadow: 0px 0px 3px 3px rgb(78, 78, 76);
}

.blogitem h1
{
    display: flex;
}

.switch
{
    padding: 10px;
    /* border: 0.2px solid black; */
    height: 100px;
    width: 500px;
    margin-left: 500px;
}

.nswi
{
    /* align-items: center; */
    padding-top: 18px;
    font-size: larger;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    margin-left: 70px;
    border: 2px solid #9b9a9a;
    box-shadow: 0px 0px 3px 3px #999;
    border-radius: 10px;
    /* background-color: white; */
    text-decoration: none;
    color: #555;
}

.link
{
    color: #555;
    text-decoration: none;
}

.dis
{
    margin-left: 25px;    
}

.header
{
    width: 1345px;
    height: 80px;
    /* border: 2p/x solid black; */
    background: linear-gradient(300deg, #555,#999,#9b9a9a,black);
    color: black;
}
.project
{
    font-size: 70px;
}


/*----------------------------------*/


@media (max-width: 1215px) {


    .contactform
    {
        margin-left: 50px;
        margin-top: 50px;
    }
    .contactform h1
    {
        font-size: 20px;
    }

    .devpic
    {
        display: none;
    }

    .infocontainer
    {
        margin-left: 100px;
    }

    .hello
    {
        font-size: 30px;
    }

    .name
    {
        font-size: 30px;
    }

    
    .outer
    {
        width: 200px;
    }

.hundred
{
    background-color: green;
    width: 200px;
}

.fifty
{
    background-color: red;
    width: 100px;
}

.sev-five
{
    background-color: violet;
    width: 175px;
}

.eight
{
    background-color: blue;
    width: 180px;
}

.thirty-five
{
    background-color: blueviolet;
    width: 35px;
}

.Jskill
{
    width: 140px;
}

}

/* Project section */



