/*
font-family: 'Black Ops One', system-ui;
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tulpen One', sans-serif;
*/

:root
{
    --primary-color:#6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color:#2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body
{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}

.head
{
    /* border: 0.2px solid black; */
    width: 100vh;
    height: 100px;
    align-content: center;
}
.header
{
    margin: -30px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 1000px;
}
.title
{
    /* margin-top: 20px; */
    width: 250px;
    height: 70px;
}
.logo
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.logo-icon
{
    /* margin-top: 20px; */
    width: 50px;
    height: 70px;
}
.logo-text
{
    font-size: 30px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 800px;
}
.feature
{

    width: 400px;
    height: 30px;
    margin: 20px;
    display: none;
    gap: 1.5rem;
}

.nav-link
{
    margin: 8px;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    color: #718096;
    transition: color 0.1s;
}
.nav-link:hover
{
    color: var(--link-color);
}


@media screen and (min-width:760px) {

    .feature{
        display: flex;    
    }    
}

.but
{
    margin: 20px;
    margin-top: 20px;

}

.but
{
    background-color: var(--primary-color);
    color: var(--background-color) ;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    width: 80px;
    height: 20px;
    border-radius: 0.375rem;
    display: none;
}

@media screen and (min-width:768px){
    .but
    {
        display: flex;
    }
}


.but:hover
{
    background-color: #5254f8;
}

.menu-button
{
    display: none;
    /* margin-top: 25px; */
    border-radius: 0.375rem;
    /* transform: all 0.1s; */
    /* width: 30px; */
    /* height: 30px; */
    border: none;
    padding: 0.5rem 0.9rem;
    background-color: var(--background-color);
}

@media screen and (max-width:768px) {
    .menu-button
    {
        display: block;
        /* margin-right: 20px; */
    }
}

.menu-icon
{
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------------------------------------------------------------------------------------------------- */
.main-section
{
    /* border: 0.2px solid black; */
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left
{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    width: 50%;
}

@keyframes slideFromLeft
{
    0%{
        opacity: 1;
        transform: translateX(-100%);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-lable
{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title
{
    font-size: 2.3rem;
    padding: 1rem;
    color: var(--text-color);
}

.section-discription
{
    color: var(--gray);
    font-size: 1.3rem;
}
.button-group
{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button
{
    background-color: var(--primary-color);
    color: var(--background-color) ;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    width: 80px;
    height: 20px;
    border-radius: 0.375rem;    
}
.tour-button
{
    background-color: var(--dark-gray);
    color: var(--background-color) ;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    width: 80px;
    height: 20px;
    border-radius: 0.375rem;
}

.tour-button:hover
{
    background-color: var(--gray);
}
.start-button:hover
{
    background-color:  #5254f8;
}

.content-right
{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container
{
    /* animation: slideFromright 1s ease forwards; */
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    height: 50vh;
}

.section-image
{
    /* animation: slideFromright 1s ease backwards; */
    height: 100%;
    width: 100%;
}

@media screen and (min-width:760px)
{
    .main-section
    {
        flex-direction: row;
    }
    .content-left
    {
        max-width: 50%;
        text-align: left;
    }
    .section-title
    {
        padding-left: 0px;
        font-size: 4rem;
    }
    .button-group
    {
        justify-content: start;
        padding-left: 0;
    }
    .section-lable
    {
        font-size: 1.0rem;
    }
    .image-container
    {
        width: 90vh;
        height: 70vh;
    }
    .section-discription
    {
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }

}

    .company-logo
    {
        font-size: 1rem;
        font-weight: 500px;
        color: var(--gray);
        display: flex;
        background-color: var(--light-gray);
        gap: 0.5rem;

    }
    .company-grid
    {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3.4rem;
        padding: 1.8rem 2rem;
        border: none;
        margin-bottom: 2rem;
        background-color: var(--light-gray);
        border-radius: 0.625rem;
    }
    .company-container
    {
        display: flex;
        /* animation: slideFrom 1s ease forwards; */
        animation: slideFromLeft 1s ease forwards;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .svg-img
    {
        /* animation: slideFromright 1s ease backwards; */
        height: 1.5rem;
    }
    .logo-text
    {

        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 3px;
        margin-left: -2px;
    }
    .logo-text:hover
    {
        color: var(--dark-gray);
    }

    @media screen and (min-width:640px)
    {
        .company-grid
        {
            grid-template-columns: repeat(4,1fr);
        }
        .company-title
        {
            font-size: 2.3rem;
            font-weight: bold;
        }

    }

/* ----------------------------------------------------------------------------------------------------------------- */

.feture-container
{
    /* background-color: var(--light-gray); */
    padding: 2.5rem 0;
    text-align: center;
    /* border: 0.1px solid black; */
}

.feture-contain
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info
{
    display: flex;
    flex-direction: column; /*Ek ke niche ek aana chahiye*/
}
.main-title
{
    font-size: 2.15rem;
    font-weight: bold;
}
.main-discription
{
    color: var(--text-color);
    font-size: 1rem;
}

.feture-grid
{
    margin-top: 1.3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr); /* For grid column (No. of colom , )*/
}

.icon-container
{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;            /* this three lines help to place the inside content in the middle of all sides. */
    justify-content: center;
    align-items: center;
}

.feture-svg
{
    width: 1.5rem;
    height: 1.5rem;
}

.feture-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feture-info
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feture-title
{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.feture-discription
{
    color: white;
}

.feture-card:nth-child(1)
{
    background-color: #4a90e2;
}
.feture-card:nth-child(2)
{
    background-color: #FF6289;
}
.feture-card:nth-child(3)
{
    background-color: #fcbf58;
}
.feture-card:nth-child(4)
{
    background-color: #44bfc3;
}
.feture-card:nth-child(5)
{
    background-color: #77b05d;
}
.feture-card:nth-child(6)
{
    background-color: #7d78b1;
}



@media screen and (max-width:760){       /* Jab bhi meri width 760 se kam hogi tab*/
    .feture-grid
    {
        grid-template-columns: repeat(1,1fr);
    }
}



/*
.feture-container
{
    display: flex;
    justify-content: center;
    height: 130vh;
    margin-top: -100px;
    width: 100%;
    overflow: hidden;
}

.feture-contain
{
    align-items: center;
    width: 60%;
    height: 110vh;
}

.logo-img
{
    margin-top: 10px;
    height: 3rem;
    width: 3rem;
    border-radius: 200px;
}

.heading-1
{
    font-weight: 800;
}

.analytics
{
    margin: 5px 10px;
}

.title1
{
    margin: 10px 0px;
}
.para
{
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 20px; 
    font-size: 1.1rem;
    color: var(--gray);
}

.feture-grid
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-content: center;
    margin-left: 12vh;
    height: 80%;
    width: 90%;
}

.g1
{
    font-size: 0.8rem;
    height: 180px;
    width: 280px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 0.6rem;
    color: white;
}


.b1
{
    background-color: #670da3;
}
.b2
{
    background-color: rgb(51, 170, 51);
}
.b3
{
    background-color: rgb(49, 146, 114);
}
.b4
{
    background-color: rgb(238, 124, 17);
}
.b5
{
    background-color: rgb(179, 52, 80);
}
.b6
{
    background-color: rgb(49, 57, 167);
}

/*
@media screen and (min-width:720px)
{
    .feture-container
    {
        width: 80%;
        height: 250vh;
        border: 0.2px solid black;
    }
    .feture-contain
    {
        width: 80%;
        height: 90%;
    }

    .g1
    {
        height: 160px;
        padding: 0px;
    }
    .feture-grid
    {
        overflow-y: hidden;
    }
    .icon
    {
        margin: 0px 0px;
        width: 10px;
        height: 10px;
    }
    .logo-img
    {
        margin: 0px 70px;
        width: 20px;
        height: 20px;
    }
    .title1
    {
        font-size: 15px;
    }
    .analytics
    {
    }
    .feture-grid
    {
        width: 200px;
        padding: 0px 0px;
        align-items: center;
        margin-top: -20px;
    }
    .icon-disc
    {
        color: black;
        width: 99%;
    }
}
*/












